version: '3.9'

services:
  db:
    image: postgres:15-alpine
    container_name: opbk_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:${DB_PORT}"
    volumes:
      - db_data:/var/lib/postgresql/data

  backend:
    image: layducky/openbk-be:latest
    container_name: opbk_backend
    restart: always
    env_file: .env.be
    expose:
      - "5000"
    depends_on:
      - db

  frontend:
    image: layducky/openbk-fe:latest
    container_name: opbk_frontend
    restart: always
    env_file: .env.fe
    expose:
      - "3000"
    depends_on:
      - backend

  nginx:
    image: nginx:latest
    container_name: opbk_nginx
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ../letsencrypt/live/openbk.me/fullchain.pem:/etc/ssl/certs/fullchain.pem:ro
      - ../letsencrypt/live/openbk.me/privkey.pem:/etc/ssl/private/privkey.pem:ro
    depends_on:
      - frontend
      - backend
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 60 --cleanup
    restart: always

volumes:
  db_data:
