name: Build and Push Docker Images

on:
  push:
    branches:
      - main  # chạy mỗi khi bạn push lên branch main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Backend Image
        run: |
          cd Open_BK_BE
          docker build -t ${{ secrets.DOCKER_USERNAME }}/openbk-be:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/openbk-be:latest

      - name: Build & Push Frontend Image
        run: |
          cd ../Open_BK_FE
          docker build -t ${{ secrets.DOCKER_USERNAME }}/openbk-fe:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/openbk-fe:latest
